<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>{{i18n.Title}}</title>

		<link rel="stylesheet" type="text/css" href="./css/newblog.css">
		
		<script type="module">
			import { app_newblog } from "./components/app-newblog/app-newblog.mjs"; app_newblog.register();
			import { router } from "/framework/js/router.mjs";
		</script>
	</head>
	<body>
		<nav class="navbar">
			<img src="./img/logo1.png" class="navbar-brand div-inline" onclick='monkshu_env.components["app-newblog"].gotopage(APP_CONSTANTS.POSTS_HTML)' />
			<ul class="navbar-nav">
				<li class="div-inline">
					<span class="nav-link" href="/new-blog" onclick='monkshu_env.components["app-newblog"].gotopage(APP_CONSTANTS.CREATE_HTML)'>Create your own Blog</span>
				</li>
				<li class="div-inline">
					<span class="nav-link" href="/aboutus" onclick='monkshu_env.components["app-newblog"].gotopage(APP_CONSTANTS.ABOUT_HTML)'>About us</span>
				</li>
			</ul>
		</nav>

		<app-newblog></app-newblog>
		
	</body>
</html>