<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>{{i18n.Title}}</title>

		<link rel="shortcut icon" type="image/png" href="./img/logo2.png" />
		
		<link rel="stylesheet" type="text/css" href="./css/posts.css">
		
		<script type="module">
			import { app_posts } from "./components/app-posts/app-posts.mjs"; app_posts.register();
		</script>
		
	</head>
	<body>
		<nav class="navbar">
			<img src="./img/logo1.png" class="navbar-brand div-inline" onclick='monkshu_env.components["app-posts"].gotopage(APP_CONSTANTS.POSTS_HTML)' />
			<ul class="navbar-nav">
				<li class="div-inline">
					<span class="nav-link" onclick='monkshu_env.components["app-posts"].gotopage(APP_CONSTANTS.CREATE_HTML)'>Create your own Blog</span>
				</li>
				<li class="div-inline">
					<span class="nav-link" onclick='monkshu_env.components["app-posts"].gotopage(APP_CONSTANTS.ABOUT_HTML)'>About us</span>
				</li>
			</ul>
		</nav>

		<app-posts></app-posts>
		
	</body>
</html>