*{
    padding: 0px;
    margin: 0px;
    border: 0;
    outline: 0;
}
body{
    background-color:#e9faff;
}
.navbar{
    background-color:#fff;
    padding-left:10px;
    width:100%;
}			
.div-inline{
    float:left;
    background-color:#fff;
}			
.navbar-nav{
    margin-left:140vh;
}
.navbar-brand{
    margin-left:18vh;				
}
ul{
    list-style: none;
    padding: 15px 0px 30px 0px;
}			
li{
    margin-left:30px;
}			
a{
    text-decoration: none;
    color:#000;
}
.about{
    background:#fff; 
    padding:60px; 
    width:70%;
    border-radius:10px; 
    box-shadow: 0px 0px 10px 0px #000; 
    position:absolute; 
    top:13vh;
    left:20vh;
}