#app-newblog{
    background:#fff; 
    padding:40px 60px; 
    width:70%;
    border-radius:10px; 
    box-shadow: 0px 0px 10px 0px #000; 
    position:absolute; 
    top:13vh;
    left:20vh;
}
input{
    border-radius:5px;
    border: 1px solid #000;
    padding: 5px 5px;
    width:30%;
}
button{
    padding: 5px 5px;
    width:100%; 
    background-color:#007bff;
    border: none;
    color: white;
    margin:0px 0px;
}
textarea{
    width:100%; 
    height:230px; 
    border-radius:5px; 
    border: 1px solid #000; 
    padding: 5px 5px;
}