<link rel="stylesheet" href="./components/app-newblog/app-newblog.css">

<div id="app-newblog">
    <label style="margin-right:100px;">Title</label>
    <input type="text" name="name" id="name" /><br/><br/>
    
    <label style="margin-right:30px;">Author's Name: </label>
    <input type="text" name="author" id="author" /><br/><br/>
    
    <label>Start a new blog: </label><br/>
    <textarea type="text" name="content" id="content"></textarea><br/><br/>
    
    <button type="submit" id="new-blog" onclick='monkshu_env.components["app-newblog"].createNewblog()'><b>Submit</b></button>
</div>
