#app-posts{
    background:#fff; 
    padding:60px; 
    width:70%;
    border-radius:10px; 
    box-shadow: 0px 0px 10px 0px #000; 
    position:absolute; 
    top:13vh;
    left:20vh;
}
input{
    border-radius:5px;
    border: 1px solid #000;
    padding: 5px 5px;
}
textarea{
    width:100%; 
    height:230px; 
    border-radius:5px; 
    border: 1px solid #000; 
    padding: 5px 5px;
}
.pre-posts{
    padding: 5px 5px;
    width:30%;
    height:30px;
    background-color:#A9A9A9;
    border: none;
    color: white;
    float:left;
}
.edit-post{
    padding: 5px 5px;
    width:30%;
    height:30px;    
    margin-left:15px;
    background-color:#007bff;
    border: none;
    color: white;
    float:left;
}
.next-posts{
    padding: 5px 5px;
    width:30%;
    height:30px;
    margin-left:15px;
    background-color:#A9A9A9;
    border: none;
    color: white;
}