<link rel="stylesheet" href="./components/app-posts/app-posts.css">

<div id="app-posts">
	<label style="margin-right:100px;">Title</label>
    <input type="text" name="name" id="name" /><br/><br/>
    
    <label style="margin-right:30px;">Author's Name: </label>
    <input type="text" name="author" id="author" /><br/><br/>
    
    <label>Start a new blog: </label><br/>
    <textarea type="text" name="content" id="content"></textarea><br/><br/>
    
    <input type="button" value="Previous" id="get-posts" class="pre-posts" onclick='monkshu_env.components["app-posts"].getPosts()' />
    <input type="button" value="Edit Blog" id="get-posts" class="edit-post" onclick='monkshu_env.components["app-posts"].editPost()' />
    <input type="button" value="Next" id="get-posts" class="next-posts" onclick='monkshu_env.components["app-posts"].getPosts()' />

</div>